/* Colors */
:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-dark-gray: hsl(0, 0%, 55%);
  --color-very-dark-gray: hsl(0, 0%, 41%);
}

body {
  font-size: 15px;
  font-weight: 400;
  position: relative;
  scroll-behavior: smooth;
  background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--color-white);
}

button,
.button {
  border: none;
  cursor: pointer;
  position: relative;
  letter-spacing: .125rem;
  border: solid 0.0625rem var(--color-black);
  text-transform: uppercase;
  padding: .4375rem 1.875rem;
  background-color: transparent;

}

button:hover,
.button:hover {
  color: var(--color-white);
}

button::before,
.button::before {
  content: "";
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-color: var(--color-black);
  transform: scale(1.2, 1.4);
  transition: all .5s ease-in-out;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.feature__container,
.creations__container,
.footer__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container--middle {
  /* margin-top: 4rem; */
}

button,
.button,
.feature__description__text,
.footer__links__item,
.footer__copy {
  font-family: 'Alata', sans-serif;
}

.header__hero,
.header__links-item a,
.feature__description__title,
.creations__title,
.creations__grid__item__title {
  font-family: 'Josefin Sans', sans-serif;
}

.header__container,
.header__nav,
.creations__header,
.creations__grid,
.creations__grid__item,
.creations__footer,
.footer__container,
.footer__container__group,
.footer__links__box,
.footer__social {
  display: flex;
}

.header__container,
.creations__grid,
.footer__container,
.footer__container__group,
.footer__links__box {
  flex-direction: column;
}

.creations__header,
.creations__grid,
.creations__footer,
.footer__container,
.footer__social {
  align-items: center;
  justify-content: center;
}

.header__container,
.header__nav {
  align-items: center;
  justify-content: space-between;
}

.header {
  position: relative;
  min-height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("/assets/images/mobile/image-hero.jpg");
}

.header__nav {
  width: 100%;
  z-index: 501;
  position: relative;
  max-height: 3.125rem;
}

.header__logo {
  max-width: 48%;
  width: 15.625rem;
}

.header__logo img {
  width: 100%;
}

.header__menu {
  width: 1.5rem;
  height: 1.2rem;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.header__menu>* {
  width: 100%;
  height: .125rem;
  background-color: var(--color-white);
  transition: all .2s ease-in-out;
}

.header__menu>*:nth-child(1) {
  transform-origin: left 0.125rem;
}

.header__menu>*:nth-child(2) {
  transform-origin: left center;
}

.header__menu>*:nth-child(3) {
  transform-origin: left 0;
}

.header__hero {
  min-width: 50%;
  padding: 1.5rem;
  margin-top: 10rem;
  border: solid 0.125rem var(--color-white);
}

.header__hero-text {
  color: var(--color-white);
  font-weight: 300;
  word-spacing: unset;
  display: table-caption;
  text-transform: uppercase;
}

.header__overlay {
  width: 50%;
  font-family: 'Alata', sans-serif;
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: font-family: 'Alata', sans-serif;; */
  height: 50%;
  top: 0;
  left: 0;
  z-index: 500;
  position: fixed;
  visibility: hidden;
  background-color: var(--color-black);
}

.header__links {
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: 10rem;
  position: absolute;

}

.header__links-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.header__links-item {
  position: relative;
  padding: .9375rem 0;
}

.header__links-item a {
  color: var(--color-white);
  font-weight: 100;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.feature {
  position: relative;
}

.feature__container {
  position: relative;
  background-color: var(--color-white);
}

.feature__image {
  width: 100%;
  height: 13.125rem;
  position: relative;
}

.feature__image::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/images/desktop/image-interactive.jpg");
}

.feature__description {
  padding: 2rem .8rem;
}

.feature__description__title {
  color: var(--color-black);
  padding: .5rem;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.feature__description__text {
  padding: .5rem;
  color: #8c8c8c;
  font-size: .875rem;
  text-align: center;
  word-spacing: .25rem;
}

.creations__header {
  padding: 1.25rem 0;
  margin-bottom: 1.875rem;
  display: flex;
  justify-content: space-between;
}

.creations__title {
  color: var(--color-black);
  font-weight: 400;
  font-size: 1.9rem;
  justify-content: center;
  text-transform: uppercase;
}

.creations__grid {
  width: 100%;
  height: auto;
}

.creations__grid__item {
  width: 100%;
  height: 7.5rem;
  overflow: hidden;
  position: relative;
  max-width: 22.875rem;
  border-radius: .25rem;
  background-size: cover;
  background-position: center;

  box-shadow: 0 0.3125rem 0.3125rem -0.0625rem rgba(0, 0, 0, 0.6);
}

.creations__grid__item::before {
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(0.75rem);
  /* transition: all .4s ease-in-out; */
  background-color: rgba(255, 255, 255, 0.1);
}

.creations__grid__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.creations__grid__item.grid {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url("/assets/images/mobile/image-grid.jpg");
}

.creations__grid__item.curiosity {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url("/assets/images/mobile/image-curiosity.jpg");
}

.creations__grid__item.from-above {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url("/assets/images/mobile/image-from-above.jpg");
}

.creations__grid__item.soccer-team {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url("/assets/images/mobile/image-soccer-team.jpg");
}

.creations__grid__item.night-arcade {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url("/assets/images/mobile/image-night-arcade.jpg");
}

.creations__grid__item.pocket-borealis {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.6)), url("/assets/images/mobile/image-pocket-borealis.jpg");
}

.creations__grid__item__title {
  z-index: 2;
  color: white;
  max-width: 45%;
  font-weight: 100;
  font-size: 1.7rem;
  -ms-flex-item-align: end;
  align-self: flex-end;
  justify-self: flex-start;
  text-transform: uppercase;
  margin: 0 0 0.9375rem 0.9375rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.creations__footer {
  margin: 2.1875rem 0rem;
}

.footer {
  margin-top: 1.25rem;
  background-color: black;
}

.footer__logo {
  width: 12.5rem;
  margin: 0 0 1.25rem;
}

.footer__container {
  color: white;
}

.footer__container__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__links__box {
  display: flex;
  align-items: center;
}

.footer__social a {
  margin-right: 15px;
  /* Adjust the value as needed */
}

.footer__social a:last-child {
  margin-right: 0;
  /* Remove margin from the last item */
}

.header__links {
  display: none;
  /* Hide by default */
}

.header__links.active {
  display: block;
  /* Show when active */
}

.navbar.open {
  /* Styles for open navbar */
  background-color: red;
  /* Just for testing */
}

.navbar__links.active {
  display: block;
  /* Show links */
}

/* Add styles for the closed state */
.navbar__links {
  display: none;
  /* Hide links initially */
}